.App {
  /* text-align: center; */
  align-content: center;
  margin-left: 45%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name{
  color: #61dafb;
  margin-right: 420px;
}
.loc, .bgroup, .age{
  padding: 1vh;
}
.div1{
  font-size: 0.9em;
}
.lable{
  color: gray;
  font-size: 0.8em;
}
img{
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border: 2px solid rgb(252, 249, 249);
  border-radius: 10px;
}