.site-container{
  text-align: center;
  background: linear-gradient(to top, #579fc0 0%, #021546 100%);
}
html {
  font-size: 14px;
}
body {
  line-height: 1.5;
  color: black;
  margin:0;
} 
/* .middle{
  margin-left: 600px;
} */

.topnavbar{
  font: 3em sans-serif;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
.navsize{
  font-size: 2em;
}