.site-container{
  text-align: center;
}
html {
  font-size: 14px;
}
body {
  line-height: 1.5;
  color: black;
  margin:0;
} 
/* .middle{
  margin-left: 600px;
} */
.small-box img{
  width: 300px;
  height: 200px;
}
.small-box .card{
  width: 400px;
  
}
